* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: pink;
}

header {
    padding: 20px 35px;
    background-color: hotpink;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
}

header a {
    color: black;
}

header nav {
    float: right;
    margin: 7px 0;
}

header ul li {
    display: inline;
}

header ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.hero {
    background-image: url(./images/pink\ akatsuki.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
}

.text-left {
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 600px;
    height: 400px;
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hotpink;
    box-shadow: 5px 5px 10px black;
}

.my {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
}

.work {
    text-align: center;
    margin: auto;
    width: 346px;
    height: 200px;
    box-shadow: 5px 5px 10px black;
}

.work:hover {
    background: lightpink;
    color: lightpink;
    border-radius: 15px;
    text-shadow: none;
}

.d-work{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 216px;
    height: 200px;
    box-shadow: 5px 5px 10px black;
}

.me {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
}

.contact {
    text-align: center;
    margin: auto;
    width: 600px;
    box-shadow: 5px 5px 10px black;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hotpink;

}