* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: pink;
}

header {
    margin: auto;
    padding: 10px 25px;
    background-color: hotpink;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 10px 15px;
    display: inline;
}

header a {
    color: black;
}

header nav {
    float: right;
    margin: 7px 0;
    padding: 10px 15px;
}

header ul li {
    display: inline;
}

header ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.hero {
    background-image: url(./images/pink\ akatsuki.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-start;
}

.about {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
    font-size: 48px;
}

.text-left {
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 600px;
    height: 400px;
    position: relative;
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hotpink;
    box-shadow: 5px 5px 10px black;
}

.my {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
    font-size: 48px;
}

.work {
    text-align: center;
    margin: auto;
    width: 346px;
    height: 200px;
    box-shadow: 5px 5px 10px black;
}

.work:hover {
    background: lightpink;
    color: lightpink;
    border-radius: 15px;
    text-shadow: none;
}

.d-work{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 216px;
    height: 200px;
    box-shadow: 5px 5px 10px black;
}

.me {
    text-align: left;
    margin-top: 200px;
    padding: 30px;
    border: none;
    font-size: 48px;
}

.contact {
    text-align: center;
    margin: auto;
    width: 600px;
    box-shadow: 5px 5px 10px black;
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hotpink;

}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        width: 100%;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: auto;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 90px;
        width: 100%;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: auto;
        width: 100%;
        justify-content: center;
    }

    nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding-left: 1 00px;
        width: 100%;
    }
}